In [1]:
import knn as knn
import pandas as pd
import numpy as np
import cross_validation as cv

In [2]:
data= pd.read_csv("/home/msc2/Documents/Academics 3rd Sem/MDSC-301/data/Mall_Customers_train.csv")
data.head()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0         138    Male   32                  73                      73
1         181  Female   37                  97                      32
2         131    Male   47                  71                       9
3           5  Female   31                  17                      40
4         200    Male   30                 137                      83

In [3]:
data_model_in = data[['Gender', 'Age', 'Annual Income (k$)']]

def cat_to_num(s):
    if s == 'Male':
        return 1
    elif s == 'Female':
        return 0

data_model_in['Gender_num'] = data_model_in['Gender'].apply(cat_to_num)

/home/msc2/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [4]:
out= knn.normalize(data_model_in['Gender_num'])
data_model_in['Gender_norm']= out['norm_data']
Gender_mean= out['mean']
Gender_std= out['std']

out= knn.normalize(data_model_in['Annual Income (k$)'])
data_model_in['AnnualIncome_norm']= out['norm_data']
AnnualIncome_mean= out['mean']
AnnualIncome_std= out['std']

out= knn.normalize(data_model_in['Age'])
data_model_in['Age_norm']= out['norm_data']
Age_mean= out['mean']
Age_std= out['std']

In [5]:
data_model_norm_in= data_model_in[['Gender_norm', 'Age_norm', 'AnnualIncome_norm']]

In [6]:
k_fold= 10
Block_dict= cv.split_data(data_model_norm_in, k_fold)

In [7]:
CV_dict= cv.ValidationSplit(Block_dict, k_fold)

In [8]:
K= [1,2,3,4,5,6,7,8,9,10]
#K= [5]
Error= []
for i in K:
    error= knn.ErrorForK(data, CV_dict, k_fold, i)
    Error.append(error)
Error

[1112.7625,
 970.85,
 833.2173611111111,
 827.93828125,
 808.5875,
 775.7763888888888,
 758.2135204081633,
 741.2041015625,
 722.598225308642,
 732.3919999999999]

In [9]:
Minimum= min(Error)
idx= np.argmin(Error)
print("The Minimum error is", Minimum)
print("The optimum value of K is", K[idx])

The Minimum error is 722.598225308642
The optimum value of K is 9