In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('Sample Dataset.csv')

data

   Var01   Var02        Var03  Target
0  White   Short        Round       1
1  White   Short        Round       1
2  Black   Short        Round       1
3  White    Long        Round       1
4  Black  Medium        Round       1
5  White  Medium  Rectangular       2
6   Pink    Long  Rectangular       2
7   Pink   Short        Round       2
8  White    Long  Rectangular       2
9  White    Long  Rectangular       2

In [3]:
cols = ['Var01', 'Target']
var = data[cols]
var

   Var01  Target
0  White       1
1  White       1
2  Black       1
3  White       1
4  Black       1
5  White       2
6   Pink       2
7   Pink       2
8  White       2
9  White       2

In [13]:
categories = list(var[cols[0]].unique())
categories

['White', 'Black', 'Pink']

In [5]:
classes = list(var[cols[1]].unique())
classes

[1, 2]

In [6]:
var[(var[cols[0]] == 'White') & (var[cols[1]] == 1)]

   Var01  Target
0  White       1
1  White       1
3  White       1

In [7]:
count_matrix ={}

for cl in classes:
    count_dict = {}
    for ct in categories:
        cell = var[(var[cols[0]] == ct) & (var[cols[1]] == cl)]
        count_dict[ct] = cell.shape[0]
    
    count_matrix[cl] = count_dict
        
count_matrix

{1: {'White': 3, 'Black': 2, 'Pink': 0},
 2: {'White': 3, 'Black': 0, 'Pink': 2}}

In [8]:
count_matrix_df = pd.DataFrame(count_matrix)
count_matrix_df

       1  2
Black  2  0
Pink   0  2
White  3  3